$primary-color: #9a0017;
$secondary-color1: #9d8471;
$secondary-color2: #25271c;
$hover-color: #f8cc80;
$ribbon-color: #9a0017;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//  HERO HEADER
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 96px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url('/assets/img/hero.jpg');
    color: #ffffff;
    overflow: hidden;

    &-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 300px;
    }

    h1 {
        font-family: 'Merienda', cursive;
        font-style: normal;
        font-weight: bold;
        font-size: 50px;
        line-height: 72px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        text-align: center;
    }

    .btn-primary__hero {
        width: 278.86px;
        height: 53px;
        font-size: 24px;
        margin-top: 30px;
        color: inherit;
        border: none;
    }
}

.btn {
    border-radius: 25px;
    cursor: pointer;
}

.btn-primary {
    background: $primary-color;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: bold;

    &:hover {
        border: 3px solid #ffffff;
        background: rgba(154, 0, 23, 0.6);
    }

    &:active {
        background: $hover-color;
    }
}

.glogg-row1 h1 {
    font-family: 'Merienda', cursive;
    font-size: 2.88em;
    color: #ffffff;
    text-align: center;
}

.glogg-row1 {
    padding: 50px;
    background-color: #9D8471;
}

.glogg-ribbon-text {
    font-family: 'Merienda', cursive;
    font-size: 1.5em;
    color: #ffffff;
    text-align: center;
    position: absolute;
    width: 8em;
    height: 10em;
    z-index: 9999;
    top: 0;
    right: 10%;
    background: $ribbon-color;
    padding: 5px 0;

    .glogg-ribbon-text:before {
        content: "";
        position: absolute;
        bottom: -4em;
        left: 0;
        width: 0;
        height: 0;
        border-top: 5em solid $ribbon-color;
        border-right: 5em solid transparent;
        z-index: -1;
    }

    .glogg-ribbon-text:after {
        content: "";
        position: absolute;
        bottom: -4em;
        right: 0;
        width: 0;
        height: 0;
        border-top: 5em solid $ribbon-color;
        border-left: 5em solid transparent;
        z-index: -1;
    }
}

.glogg-ribbon {
    z-index: 99999;
    position: relative;
    margin: 0 5px;
}

.glogg-text {
    color: #ffffff;
    font-size: -0.2em;
    font-family: Lato;
    position: relative;
    margin-top: 18em;
    margin: 0;
    padding: 15px;
    line-height: 16px;
    background-color: #25271c; 
    top: 21em;
    line-height: 1.5;
    height: 13em;
}

.glogg-row2 {
    background-color: #25271c; 
    border: none;
    height: 22em;   
}

.glogg-row3{
    background-color: #9d8471;
    padding-top: 250px;
}

.glogg {
    width: 40%;
    padding: 5%;
    padding-left: 25%;
}

.glogg img {
    border-radius: 60px 0 0 0;
}

.gloggText {
    background-color: #25271c;
    padding: 2px 16px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    padding: 120px 20px 20px 20px;
    border-radius: 20px;
    margin: -120px 0px 0px 0px;
    line-height: 19px;
    font-size: 14px;
    width: 300px;
    color: white;
    font-style: Lato;
    text-align: center;
    height: 250px;
    border-bottom-right-radius: 60px;
}

.cookie {
    display: flex;
    flex-direction: column;
    background: #25271c;
    color: #ffffff;
    min-height: 212px;
    width: 100%;
    position: fixed;
    top: auto;
    bottom: 0;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px 30px 30px;
    &__button {
        background: #eaa324;
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        width: 178px;
        height: 39px;
        border: none;
        margin-top: 20px;

        &:hover {
            background: #ffd68c;
        }

        &:active {
            text-decoration-line: underline;
            color: #9a0017;
        }
    }

    &-text {
        min-width: 339px;
        font-size: 14px;
        font-family: 'Rubik', sans-serif;
        line-height: 22px;
    }
}

// TABLET
@media screen and (min-width: 768px) {
    .hero {
        justify-content: center;
        align-items: center;
        display: flex;

        h1 {
            font-size: 80px;
            line-height: 116px;
            text-align: left;
        }
        &-body {
            max-width: 650px;
            display: block;
            position: absolute;
            top: 30%;
        }
        .btn-primary__hero {
            width: 342px;
            height: 65px;
            font-size: 26px;
        }
    }

    .cookie {
        flex-direction: row;
        min-height: 104px;
        &-text {
            max-width: 534px;
        }
    }
}

// Desktop
@media screen and (min-width: 1024px) {
    .hero {
        position: relative;
        display: block;
        h1 {
            font-size: 100px;
        }
        &-body {
            position: absolute;
            left: 118px;
            top: 30%;
            max-width: 900px;
            display: block;
        }
        .btn-primary__hero {
            margin-top: 75px;
            width: 342px;
            height: 65px;
            font-size: 26px;
        }
    }

    .cookie {
        &__button {
            font-size: 25px;
            width: 268px;
            height: 58px;
        }

        &-text {
            max-width: 968px;
        }
    }


}

// NAVBAR

.navbar {
  height: 96px;
  background: #25271C;
  position: sticky;

  .navbar-content {
    height: auto;
    padding: 30px;
    margin: 0 auto;
    padding-top: 20px;

    .navbar-logo {
        float:left;
    }
    
    .navbar-menu {
        float:right;
        position: relative;
        top: 20px;
    }
  }
}

.menu-links {
    list-style: none;

    li {
        display: inline-block;
        margin-left: 36px;
        font-family: Archivo;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 22px;
        text-align: right;
        text-transform: uppercase;
        color: #fff;
        cursor: pointer;
        border-bottom: 2px solid transparent;
        padding-bottom: 5px;
    }

    li:hover {
        color: #f8cc80;
        border-bottom: 2px solid #f8cc80;
    }

    li:active {
        color: #fff;
        border-bottom: 2px solid #fff;
    }
}

// menu burger
.menu-burger {
    position: relative;
    width: 55px;
    height: 4px;
    background: rgb(255, 255, 255);
    transition: all .1s ease-in-out;
    margin: 0 auto;
    top: 5px;
}

.menu-burger::before,
.menu-burger::after {
    content: '';
    position: absolute;
    width: 55px;
    height: 4px;
    background: rgb(255, 255, 255);
    transition: all .3s ease-in-out;
}

.menu-burger::before {
    transform: translateY(-12px);
}
  
.menu-burger::after {
    transform: translateY(12px);
}
  
/* transform menu burger to exit */
.menu-btn.is-active .menu-burger {
    background: transparent;
}
  
.menu-btn.is-active .menu-burger::before {
    transform: rotate(-135deg);
}
  
.menu-btn.is-active .menu-burger::after {
    transform: rotate(135deg);
}

