$primary-color: #9a0017;
$secondary-color1: #9d8471;
$secondary-color2: #25271c;
$hover-color: #f8cc80;
$ribbon-color: #9a0017;

// font-size
@function rem($px) {
    @return ($px / 16px) * 1rem;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//  HERO HEADER
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 96px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url('/assets/img/hero.jpg');
    color: #ffffff;
    overflow: hidden;

    &-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 300px;
    }

    h1 {
        font-family: 'Merienda', cursive;
        font-style: normal;
        font-weight: bold;
        font-size: rem(50px);
        line-height: 72px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        text-align: center;
    }

    .btn-primary__hero {
        width: 278.86px;
        height: 53px;
        font-size: rem(24px);
        margin-top: 30px;
        color: inherit;
        border: none;
    }
}

.btn {
    border-radius: 25px;
    cursor: pointer;
}

.btn-primary {
    background: $primary-color;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: bold;

    &:hover {
        border: 3px solid #ffffff;
        background: rgba(154, 0, 23, 0.6);
    }

    &:active {
        background: $hover-color;
    }
}

.glogg-row1 h1 {
    font-family: 'Merienda', cursive;
    font-size: 2.88em;
    color: #ffffff;
    text-align: center;
}

.glogg-row1 {
    padding: 50px;
    background-color: #9D8471;
}

.glogg-ribbon-text {
    font-family: 'Merienda', cursive;
    font-size: 1.5em;
    color: #ffffff;
    text-align: center;
    position: absolute;
    width: 8em;
    height: 10em;
    z-index: 9999;
    top: 0;
    right: 10%;
    background: $ribbon-color;
    padding: 5px 0;

}

.glogg-ribbon-text:before {
    content: "";
    position: absolute;
    bottom: -4em;
    left: 0;
    width: 0;
    height: 0;
    border-top: 5em solid $ribbon-color;
    border-right: 5em solid transparent;
    z-index: -1;
}

.glogg-ribbon-text:after {
    content: "";
    position: absolute;
    bottom: -4em;
    right: 0;
    width: 0;
    height: 0;
    border-top: 5em solid $ribbon-color;
    border-left: 5em solid transparent;
    z-index: -1;
}

.glogg-ribbon {
    z-index: 99999;
    position: relative;
    margin: 0 5px;
    background-color: #25271c;
    font-size: 2.5vw;
}

.glogg-text {
    color: #ffffff;
    font-size: 2.9vw;
    font-family: Lato;
    position: relative;
    margin-top: 15em;
    margin: 0;
    padding: 15px;
    line-height: 16px;
    top: 21em;
    line-height: 1.5;
    height: 15em;
    background-color: #25271c;
}

.glogg-row2 {
    background-color: #25271c; 
    border: none;
    height: 22em;   
}

.glogg-row3{
    background-color: #9d8471;
    padding-top: 250px;
}

.glogg {
    width: 40%;
    padding: 5%;
    padding-left: 25%;
}

.glogg img {
    border-radius: 60px 0 0 0;
}

.gloggText {
    padding: 2px 16px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    padding: 120px 20px 20px 20px;
    border-radius: 20px;
    margin: -120px 0px 0px 0px;
    line-height: 19px;
    font-size: 14px;
    width: 300px;
    color: white;
    font-style: Lato;
    text-align: center;
    height: 250px;
    border-bottom-right-radius: 60px;
    background-color: #25271c;
}

.cookie {
    display: flex;
    z-index: 10;
    flex-direction: column;
    background: #25271c;
    color: #ffffff;
    min-height: 212px;
    width: 100%;
    position: fixed;
    top: auto;
    bottom: 0;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px 30px 30px;
      z-index: 102;

    &__button {
        background: #eaa324;
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        width: 178px;
        height: 39px;
        border: none;
        margin-top: 20px;

        &:hover {
            background: #ffd68c;
        }

        &:active {
            text-decoration-line: underline;
            color: #9a0017;
        }
    }

    &-text {
        min-width: 339px;
        font-size: 14px;
        font-family: 'Rubik', sans-serif;
        line-height: 22px;
    }
}

//Form
.img-overlay {
  width: 100vw;
  max-width: 100%;
  position: absolute;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  z-index: 100;
}

.form-section {
  width: 100vw;
  max-width: 100%;
  position: relative;
  height: 100vh;
  background-image: url('../../img/background.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-wrapper {
  width: 90%;
  height: auto;
  background-color: rgba(157,132,113,0.9);
  border-radius: 30px 0px 30px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding:20px 0px;
  position: relative;
  z-index: 101;
}

.form-wrapper h3 {
  font-family: 'Merienda';
  font-weight: bold;
  color:white;
  font-size: 1.3em;
  text-shadow: 1px 1px #333;
}

.form-wrapper input[type="text"] {
  width: 90%;
  border-radius: 15px;
  color:black;
  padding: 15px 20px;
  border: none;
  margin: 18px 0px;
  background-color:#d2d2d2;
  font-family: 'Lato';
  font-weight: bold;
}

.form-wrapper input::placeholder {
  color: black;
}

.form-wrapper input[type="submit"] {
  background-color: #9A0017;
  color:white;
  border: none;
  padding: 10px 0px;
  width: 40%;
  border-radius: 17px;
  font-weight: normal;
  font-size: 1.3em;
  margin: 18px 0px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.form-wrapper input:hover[type="submit"] {
  background-color: #b55966;
}

//Footer
footer.footer {
  width: 100vw;
  max-width: 100%;
  position: relative;
  background-color: #9D8471;
  min-height: 25vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.footer-item {
  color:white;
  font-family: 'Archivo';
  font-weight: bold;
  font-size: 1.1em;
  padding: 0;
  position: relative;
  height: 100%;
}

.footer-item.first {
  width: 90%;
  /* border-right: 1px solid white; */
  border-bottom: 1px solid white;
  padding-bottom: 30px;
}

.footer-item.first p {
  margin: 10px 0;
}

.footer-item.first p:nth-child(n+2) {
  display: inline-block;
  font-size: 16px;
}

.footer-item.first p:nth-child(3) {
  margin-left: 20px;
}

.footer-item.second {
  width: 90%;
}

.footer-item.second {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.footer-item.second a {
  width: 50%;
  margin: 20px 0px;
  text-transform: uppercase;
}

.footer-item.third {
  width: 90%;
  text-align: center;
}

.footer-item.second a {
  color: white;
  text-decoration: none;
  display: block;
  margin: 10px 0px;
}

.footer-item.third a {
  position: relative;
  top: 0vh;
  margin: 0px 20px;
}

.footer-item.third a img {
  width: 42px;
}


// TABLET
@media screen and (min-width: 768px) {
    .hero {
        justify-content: center;
        align-items: center;
        display: flex;

        h1 {
            font-size: 80px;
            line-height: 116px;
            text-align: left;
        }
        &-body {
            max-width: 650px;
            display: block;
            position: absolute;
            top: 30%;
        }
        .btn-primary__hero {
            width: 342px;
            height: 65px;
            font-size: 26px;
        }
    }

    .glogg-ribbon {
        display: none;
    }

    .glogg-text {
        top: 0em;
        padding: 6vh;
    }

    .glogg-row3 {
        display: inline-flex;
        flex-wrap: wrap;
        padding-right: 20vw;
        padding-top: 5%;
        padding-bottom: 5%;
        justify-content: space-between;
    }

    .glogg {
        padding-left: 8%;
    }

    .cookie {
        flex-direction: row;
        min-height: 104px;
        &-text {
            max-width: 534px;
        }
    }

  .form-wrapper {
    width: 40%;
  }

  .footer-item.first {
    width: 30%;
    border-right: 1px solid white;
    border-bottom: 0px solid white;
    padding-right: 5%;
  }

  .footer-item.first p:nth-child(n+2) {
    display: block;
    font-size: 16px;
  }

  .footer-item.first p:nth-child(3) {
    margin-left: 0px;
  }

  .footer-item.second {
    width: 50%;
    display: block;
  }

  .footer-item.third {
    // width: 30%;
    text-align: end;
    // padding-top: 100px;
  }

}

// Desktop
@media screen and (min-width: 1024px) {
    .hero {
        position: relative;
        display: block;
        h1 {
            font-size: 100px;
        }
        &-body {
            position: absolute;
            left: 118px;
            top: 30%;
            max-width: 900px;
            display: block;
        }
        .btn-primary__hero {
            margin-top: 75px;
            width: 342px;
            height: 65px;
            font-size: 26px;
        }
    }

    .glogg-row1 h1 {
        font-size: 8.36em;
        color: #ffffff;
        text-align: left;
    }

    .glogg-text {
        top: 0em;
        padding: 6vh;
        text-align: left;
        padding-right: 50%;
        font-size: 1.4em;
    }
    
    .glogg-ribbon {
        display: initial;
        padding-right: 100vw;
    }

    .glogg-ribbon-text {
        font-size: 0.5em;
    }

    .glogg-row3 {
        display: flex;
        flex-wrap: nowrap;
        padding-top: 10vh;
        padding-bottom: 0;
        justify-content: center;
        padding-left: 15vw;
        width: 100%;
    }

    .cookie {
        &__button {
            font-size: 25px;
            width: 268px;
            height: 58px;
        }

        &-text {
            max-width: 968px;
        }
    }


}

// NAVBAR
.navbar {
  height: 96px;
  background: #25271C;
  position: sticky;

  &-content {
    height: auto;
    padding: 30px;
    margin: 0 auto;
    padding-top: 20px;
  }

  &-logo {
    float:left;
  }

  &-menu {
    float:right;
    position: relative;
    top: 20px;
  }
}


// menu links
.menu-links {
    list-style: none;

    li {
        display: inline-block;
        margin-left: 36px;
        font-family: Archivo;
        font-style: normal;
        font-weight: bold;
        font-size: rem(20px);
        line-height: 22px;
        text-align: right;
        text-transform: uppercase;
        color: #fff;
        cursor: pointer;
        border-bottom: 2px solid transparent;
        padding-bottom: 5px;
        width: max-content;
    }

    li:hover {
        color: #f8cc80;
        border-bottom: 2px solid #f8cc80;
    }

    li:active {
        color: #fff;
        border-bottom: 2px solid #fff;
    }
}


.menu-links.dropdown {
    position: relative;
    margin: 40px;

    li {
        display: block;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 40px;
        line-height: 1.2em;
        font-size: rem(30px);
    }
}

// menu burger
.menu-btn {
    cursor: pointer;
    height: 40px;
    position: absolute;
    right: 0;
    top: -10px;

  /* transform menu burger to exit */
  &.is-active .menu-burger {
    background: transparent;
  }
  
  &.is-active .menu-burger::before {
    transform: rotate(-135deg);
  }
  
  &.is-active .menu-burger::after {
    transform: rotate(135deg);
  }
}


.menu-burger {
    position: relative;
    width: 55px;
    height: 4px;
    background: rgb(255, 255, 255);
    transition: all .1s ease-in-out;
    margin: 0 auto;
    top: 18px;

    &::before,
    &::after {
        content: '';
        position: absolute;
        width: 55px;
        height: 4px;
        background: rgb(255, 255, 255);
        transition: all .3s ease-in-out;
    }

    &::before {
        transform: translateY(-12px);
    }
      
    &::after {
        transform: translateY(12px);
    }
}


// dropdown menu 
.dropdown-menu-wrap {
    position: absolute;
    z-index: 9;
    width: 100vw;
    min-height: 0;
    height: 0;
    -webkit-transition: width 0.3s, min-height 0.3s, height 0.3s;
    transition: width 0.3s, min-height 0.3s, height 0.3s;
    background-color: #383b2b;

    &.is-active {
      width: 100vw;
      min-height: 500px;
      height: 100vh;
    }
}


.dropdown-menu {
    opacity: 0;
    text-align: center;
    position: relative;
    top: 15%;

    &.is-active {
      opacity: 1;
      -webkit-transition: opacity 0.3s 0.3s;
      transition: opacity 0.3s 0.3s;
    }
  .form-wrapper {
    width: 30vw;
    min-height: 40vh;
  }    


  //Footer
  footer.footer {
    justify-content: flex-start;
    min-height: 25vh;
  }

  .footer-item {
    padding: 0px 0px 0px 50px;
  }

  .footer-item.first {
    width: 20%;
    border: none;
    padding-right: 5%;
  }

  .footer-item.first p {
    margin: 15px 0px;
  }

  .footer-item.second {
    width: 70%;
    display: block;
    border-left: 1px solid white;
  }

  .footer-item.third {
    width: 10%;
    text-align: end;
    // margin-left: 950px;
  }

  .footer-item.third a {
    position: relative;
    top: 8vh;
    margin: 0px 20px;
  }
}
  
